{% extends "layout.html" %}
{% block body %}
<div id="container">
<header>
        <h1 class="h1background">MARTIN IHEKE OKORONKWO</h1>
        <h2 class="contacts"><strong>SOFTWARE DEVELOPER</strong></h2>
    </header>

<div class="w" >
<h2 class="testcolor"><strong>WORK EXPERIENCE</strong></h2>
<h2 class="testcolor">Benefitfocus &nbsp;&nbsp;&nbsp;&nbsp;August,&nbsp;2013 - Present</h2>
<h3 class="contacts"><strong>SOFTWARE DEVELOPER</strong></h3>
<ul class="smalltexts">
<li>Developes, tests and deploy applications and solutions for internal users and clients
 using apex and force.com MVC architecture.</li>
 </ul>
 
<h2 class="testcolor">Equiscript LLC &nbsp;&nbsp;&nbsp;&nbsp;October,&nbsp;2012 - July,&nbsp;2013</h2>
<h3 class="contacts"><strong>SOFTWARE DEVELOPER</strong></h3>
<ul class="smalltexts">
<li>Use SQL server and salesforce to analyze and process very large 
healthcare data files in varying formats from clients while adhering
 strictly to HIPAA regulations.</li>
<li>Developed, tested and deployed applications and solutions for internal
 sales and service users using apex and force.com MVC architecture.</li>
<li>Created business automation processes using apex triggers and workflow
 rules where appropriate.</li>
<li>Using python, pyodbc and sql server, automated data processing from sftp
 server to salesforce for use by internal sales team.</li>
<li>Created SQL server stored procedure to handle inventory reconciliation 
process using FIFO.</li>
<li>Manages and maintains relationships with client data management teams to 
ensure frequent and reliable data updates.</li>
<li>Served as primary point of contact for salesforce and data related issues 
for both internal and external users.</li>
<li>Produced user documentation and tutorial materials for internal users.</li>  
</ul>

<h2 class="testcolor">Claflin University, Information Technology Department
 July, 2012- August, 2012 September, 2009 – June, 2011 </h2>
 <h3 class="contacts"><strong>IT TECHNICIAN</strong></h3>
 <ul class="smalltexts">
 <li>Provided over the phone and on-site software and hardware 
 support at campus department offices and resident dormitories.</li>
<li>Monitored and maintained enterprise class computer operations
 and ensured the proper functioning of associated servers, terminals,
  printers, scanners and other peripheral equipment.</li>
<li>Executed and documented software and hardware testing prior to
 active deployment to the end users Installed, configured, and tested
  software updates and new releases</li> 
 </ul>
 <h2 class="testcolor">Claflin University Biofuels Feedstock Research          May, 2011 - May, 2012</h2> 
<h3 class="contacts"><strong>RESEARCH INTERN</strong></h3>
<ul class="smalltexts">
<li>Researched on refining the most cost efficient and eco-friendly 
feedstock for bio-fuels in the Orangeburg County Area.</li>
<li>Collected, transcribed and documented empirical data obtained during the course
 of the research project.</li>
</ul>
<h2 class="testcolor">HBCU-UP Program, Claflin University           Aug, 2009 – May, 2012</h2> 
<h3 class="contacts"><strong>SUPPLEMENTAL INSTRUCTION LEADER</strong></h3> 
<ul class="smalltexts">
<li>Provided post class assistance to students in Mathematics courses- Calculus,
 Pre-Calculus and College Algebra.</li> 
<li>Provided a less formal environment for interchange of ideas between student
 and supplemental instructor.</li>
</ul> 
</div>


<div class="con">
<h2 class="testcolor"><strong>CONTACT INFORMATION</strong></h2>
<address>
<p><!-- <img src="images/email.png">-->
<abbr title="martin.okoronkwo@gmail.com"><a href="martin.okoronkwo@gmail.com" class="smalltexts al">Martin Okoronkwo</a></abbr>
<!--<p class="smalltexts">803-347-5906</p>-->

<p><abbr title="https://github.com/jinsei-no-gakusei"><a href="https://github.com/jinsei-no-gakusei" class="smalltexts">Github</a></abbr></p>
<p><a href="static/resumes/Resume.MartinOkoronkwo.docx" class="smalltexts">Resume(doc)</a></p>
<p><a href="static/resumes/Resume.MartinOkoronkwo.pdf" class="smalltexts">Resume(pdf)</a></p>
<a href="http://www.linkedin.com/profile/view?id=104204467&trk=wvmp-profile">
<img alt="" src="static/images/LinkedinSocial-Bar-48.png"></a>

</address>
<h2 class="testcolor"><strong>EDUCATION</strong></h2>
<p>Claflin University – Orangeburg, SC</p>                                                         
<p>Bachelor of Science, Management Information Science      May, 2012</p>
<h2 class="testcolor"><strong>SKILLS</strong></h2>
<p>Languages:</p> 
<ul class="smalltexts">
<li>Python, Apex(Salesforce.com), Visualforce, HTML, CSS, Java, JavaScript</li>
</ul>
<p>Platforms:</p>
<ul class="smalltexts">
<li>Java, force.com, heroku, flask, AWS EC2</li>
</ul>
<p>Database:</p>
<ul class="smalltexts">
<li> SQL Server</li>
</ul>

<h2 class="testcolor"><strong>CERTIFICATIONS</strong></h2>
<p class="smalltexts">Salesforce.com Certified Force.com Developer</p>
<h2 class="testcolor"><strong>PROFESSIONAL AFFILIATIONS/CLUBS</strong></h2>
<ul class="smalltexts">
<li>Google Developer Group – Charleston, SC</li>
<li>Salesforce User Group – Charleston, SC</li>
</ul>

<h2 class="testcolor"><strong>REFERENCES</strong></h2>
<p>Will be provided upon request</p>
<h2 class="testcolor"><strong>LOCATE ME</strong></h2>

<iframe width="300" height="260" frameborder="0" scrolling="no" marginheight="0" 
marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;
geocode=&amp;q=North+Charleston,+SC&amp;aq=0&amp;oq=North+Charleston,+SC&amp;sll=32.776566,
-79.930922&amp;sspn=0.654676,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=North+Charleston,
+Charleston,+South+Carolina&amp;t=m&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
<br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;
geocode=&amp;q=North+Charleston,+SC&amp;aq=0&amp;oq=North+Charleston,+SC&amp;sll=32.776566,
-79.930922&amp;sspn=0.654676,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=North+Charleston,
+Charleston,+South+Carolina&amp;t=m&amp;z=11&amp;iwloc=A" style="color:#593E1A;text-align:
left;font-size: 14px">VIEW LARGER MAP</a></small>
</div>


</div>

{% endblock %}